<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StrCad" connectionString="Data Source=10.13.52.214;User ID=root;Password=1234;Initial Catalog=libreria;Encrypt=false" />
    </connectionStrings>
</configuration>